:root {
  --fondo-oscuro: rgb(33 33 33);
  --color-parrafo: gray;
  --color-boton: #e55848;
  --texto-enlace: 0.75rem;
  --texto-parrafo: 0.813rem;
  --texto-titular: 0.875rem;
  --titulo-seccion: 2.5rem;
  --ancho-secciones: 65%;
}

@font-face {
  font-family: Dosis;
  src: url('/src/fonts/Dosis-VariableFont_wght.ttf') format('truetype');
}

@keyframes change-color {
  0% {
    background: lightgray;
  }

  25% {
    background: gray;
  }

  50% {
    background: rgb(77 46 10);
    padding-bottom: 35px;
  }

  75% {
    background: gray;
  }

  100% {
    background: lightgray;
    padding-bottom: 10px;
  }
}

::selection {
  background-color: rgb(80 35 0);
  color: white;
}

.invisible-title {
  display: none;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

main, .footer-content {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

footer {
  padding-top: 150px;
  background-color: var(--fondo-oscuro);
}

section {
  box-sizing: border-box;
}

p {
  font-size: var(--texto-parrafo);
}

a {
  text-decoration: none;
  font-size: var(--texto-enlace);
}

header section {
  width: 100%;
}

.back-top {
  position: fixed;
  display: flex;
  bottom: 3%;
  right: 3%;
  padding: 10px;
  width: 3vw;
  border-radius: 25px;
  border: 3px solid black;
  background-color: lightgray;
  animation: change-color 3s ease 0s;
  transition: padding-bottom 0.3s ease;
  z-index: 5;
}

.back-top:hover {
  padding-bottom: 35px;
}

.back-top img {
  width: 100%;
}

.languages select, .currency select {
  background-color: var(--fondo-oscuro);
  border: transparent;
  color: white;
}

.preferences, .header-nav {
  width: 100%;
}

.preferences-content, .nav-content {
  width: var(--ancho-secciones);
  margin: auto;
}

.preferences {
  background-color: var(--fondo-oscuro);
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Dosis, Arial, Helvetica, sans-serif;
}

.header-nav {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-content {
  display: flex;
  align-items: center;
}

.logo-volupa {
  display: flex;
  width: 65%;
}

.nav-menu ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav-menu a {
  color: black;
}

.user-preferences {
  justify-content: center;
}

.user-preferences a {
  color: white;
  display: flex;
  align-items: center;
}

.women-collection-content a {
  color: white;
  background-color: var(--color-boton);
  padding: 15px 35px;
}

.main-nav-content h2 {
  margin: 0;
  padding-bottom: 5px;
  font-weight: bolder;
}

.main-nav-content a {
  color: white;
  font-weight: bold;
}

.info-bestprod a {
  position: absolute;
  align-self: flex-end;
  font-size: 0.688rem;
  color: black;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.deals-week-content a {
  color: white;
  background-color: var(--fondo-oscuro);
  padding: 15px 35px;
  width: 25%;
  text-align: center;
  font-weight: bold;
}

.footer-links a, .footer-account a {
  color: white;
}

.collection-buttons a {
  flex: 0 0 15%;
  border: 0 solid black;
  background-color: white;
  border-radius: 100%;
  padding: 10px;
}

.collection-buttons a:nth-of-type(2) {
  background-color: var(--color-boton);
}

.nav-menu a:hover {
  color: coral;
}

.preferences-content {
  display: flex;
  align-items: center;
}

.page-preferences {
  display: flex;
}

.user-preferences ul {
  display: flex;
  justify-content: end;
  gap: 30px;
  font-size: 0.625rem;
  margin: 0;
}

.user-preferences a::before {
  content: '';
  display: inline-block;
  background-size: cover;
  width: 13px;
  height: 13px;
  margin-right: 10px;
  filter: invert();
}

.user-preferences li:nth-child(1) a::before {
  background-image: url('src/account.png');
}

.user-preferences li:nth-child(2) a::before {
  background-image: url('src/cart.png');
}

.user-preferences li:nth-child(3) a::before {
  background-image: url('src/wishlist.png');
}

.women-collection {
  position: relative;
  width: 100%;
}

.women-collection img, .deals-week img, .articles-bestseller img, .collection-imgs img {
  object-fit: cover;
  width: 100%;
}

.women-collection-content {
  position: absolute;
  text-align: start;
  color: #fff;
  width: var(--ancho-secciones);
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.women-collection-content div {
  text-decoration: underline;
  font-size: 1.25rem;
  font-weight: 900;
  text-underline-offset: 4px;
}

.women-collection-content h2 {
  width: 55%;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 60px;
  font-size: 5rem;
  font-weight: bold;
}

.main-nav {
  width: var(--ancho-secciones);
  transform: translateY(-50%);
  margin-bottom: -115px;
}

.main-nav ul {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 25px;
  margin: 0;
  background-color: white;
}

.main-nav section {
  position: relative;
  height: 100%;
}

.main-nav img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.main-nav li {
  position: relative;
  overflow: hidden;
}

.menu-collections li {
  text-decoration: underline solid transparent;
  text-underline-offset: 8px;
  transition: text-decoration-color 0.3s ease;
  cursor: pointer;
}

.footer-payments li {
  flex: 1;
}

.footer-social li {
  flex: 0.15;
  display: flex;
}

.women-new-collections li:nth-child(2) {
  align-self: flex-start;
}

.women-new-collections .collection-imgs {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.women-new-collections li:nth-child(2) .collection-imgs,
.women-new-collections li:nth-child(4) .collection-imgs, 
.women-new-collections li:nth-child(6) .collection-imgs {
  padding-bottom: 80%;
}

.women-new-collections li:nth-child(4),
.women-new-collections li:nth-child(6) {
  align-self: flex-end;
}

.main-nav li:nth-child(1) {
  grid-row: span 2;
  grid-column: span 1;
}

.main-nav li:nth-child(2) {
  grid-row: span 1;
  grid-column: span 1;
}

.main-nav li:nth-child(3) {
  grid-row: span 2;
  grid-column: span 1;
}

.main-nav li:nth-child(4) {
  grid-row: span 1;
  grid-column: span 1;
}

.main-nav-content {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--texto-parrafo);
  padding-bottom: 15px;
  color: white;
}

.best-selling {
  width: var(--ancho-secciones);
  text-align: center;
  padding-bottom: 80px;
}

.bestsellers-content {
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 30px;
}

.bestsellers-content p, .new-collections-content p {
  color: var(--color-parrafo);
  margin: 0;
  padding: 20px;
}

.articles-bestseller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.articles-container {
  display: flex;
  align-items: center;
  gap: 25px;
}

.articles-bestseller article {
  flex: 1;
  display: flex;
  flex-direction: column; 
  gap: 25px;
}

.women-new-collections article {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
}

.articles-bestseller article:nth-of-type(2) {
  flex: 1.3;
  height: auto;
}

.deals-week img {
  height: 50vw;
}

.payment-section img {
  width: 10%;
  object-fit: cover;
}

.footer-payments img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer-info > img {
  width: 50%;
}

.footer-info p {
  width: 80%;
}

.footer-social img {
  width: 100%;
  filter: invert(70%);
}

.articles-bestseller article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-collection {
  position: absolute;
  height: 100%;
}

.info-bestprod, .collection-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  gap: 10px;
}

.title-prod, .title-article {
  margin: 0;
  font-size: var(--texto-titular);
  font-weight: lighter;
}

.bestprod-price, .collection-price {
  display: flex;
  gap: 15px;
  font-size: var(--texto-titular);
}

.bestprod-price span, .collection-info span {
  text-decoration-line: line-through;
  color: gray;
  padding-left: 10px;
}

.bestprod-rating {
  font-size: 0.688rem;
}

.left-arrow, .right-arrow {
  width: 6%;
}

.left-arrow {
  transform: scaleX(-1);
}

.deals-week {
  position: relative;
  width: 100%;
}

.deals-week-content {
  display: flex;
  position: absolute;
  width: var(--ancho-secciones);
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-collections-content > *,
.payment-section > *,
.deals-week-content div > * {
  margin: 0;
}

.subscription-info div {
  font-size: var(--titulo-seccion);
  font-weight: bold;
  color: white;
}

.footer-sections div {
  font-size: var(--texto-parrafo);
}

.direct-contact div {
  position: relative;
  padding-left: 25px;
}

.direct-contact div::before {
  position: absolute;
  background-size: cover;
  content: "";
  width: 15px;
  height: 15px;
  left: 0;
  filter: invert(70%);
}

.bestsellers-content > div, .deals-week-content h2, .new-collections-content > div {
  font-size: var(--texto-titular);
  font-weight: lighter;
}

.deals-week-content div:nth-child(1) {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bestsellers-content h2, .deal-week, .new-collections-content h2 {
  font-size: var(--titulo-seccion);
  font-weight: bold;
  margin: 0;
}

.cronometer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.cronometer section {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 15px 3px;
  border: 1px solid darkgray;
}

.cronometer section span {
  font-size: 1.875rem;
}

.women-new-collections h4,
.women-new-collections .collection-info > div {
  margin: 0;
}

.cronometer section h4 {
  margin: 0;
  font-size: var(--texto-parrafo);
}

.subscription {
  position: sticky;
  top: 10%;
  z-index: 3;
  display: flex;
  padding: 40px;
  width: var(--ancho-secciones);
  gap: 40px;
  transform: translateY(-50%);
  background-color: var(--fondo-oscuro);
}

.subscription-info {
  flex: 1.2;
}

.subscription-info h2 {
  margin: 0;
  font-size: var(--texto-titular);
  color: white;
}

.subscription section {
  flex: 1.8;
}

.subscription-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscription-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  width: 100%;
  background-color: white;
}

.email {
  padding: 25px;
  flex: 1;
  background-color: white;
  border: 0;
}

.submit {
  padding: 25px;
  flex: 0.4;
  background-color: var(--color-boton);
  color: white;
  cursor: pointer;
}

/* Ocultar secciones 2, 3 y 4 de "New Collections", 
mostrando solo la seleccionada (Women's Fashion) */
.men-new-collections,
.kids-new-collections,
.accessories-new-collections {
  display: none;
}

.collection-buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.collection-buttons a:nth-child(2) img {
  filter: invert();
}

.women-new-collections article:hover .collection-buttons {
  opacity: 1;
}

.new-collections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--ancho-secciones);
  gap: 20px;
}

.new-collections-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  gap: 10px;
}

.new-collections-content h2 {
  font-size: 2.5rem;
}

.menu-collections {
  width: 85%;
}

.menu-collections ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

.menu-collections li:hover {
  text-decoration-color: black;
}

.women-new-collections {
  width: 100%;
}

.women-new-collections ul {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-left: 0;
}

.fav-img {
  padding: 10px;
}

.women-new-collections .fav-img {
  position: absolute;
  width: 15px;
  right: 0;
}

.collections-next-button {
  color: black;
  border: 1px solid black;
  padding: 15px 35px;
  text-align: center;
  font-weight: bold;
}

.collection-rating {
  position: absolute;
  align-self: end;
  font-size: var(--texto-titular);
}

.payment-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--ancho-secciones);
  transform: translateY(50%);
  box-shadow: 0 -3px 20px gray;
  background-color: white;
}

.payment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  gap: 15px;
  padding: 40px;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-image: linear-gradient(to bottom, transparent 10%, gray 50%, transparent 90%);
  border-image-slice: 1;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: var(--ancho-secciones);
}

.footer-sections {
  display: flex;
  flex-direction: row;
  gap: 30px;
  color: white;
}

.footer-sections > section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-sections h2 {
  font-size: 1.25rem;
  margin: 0;
  padding-top: 30px;
}

.footer-info {
  flex: 3;
}

.footer-payments ul {
  display: flex;
  gap: 20px;
  width: 55%;
  margin: 0;
}

.footer-contact {
  flex: 1.5;
}

.footer-social ul {
  display: flex;
  flex-direction: row;
  width: var(--ancho-secciones);
  margin: 0;
  gap: 14px;
  padding-top: 10px;
}

.footer-links, .footer-account {
  flex: 1;
}

.footer-links ul, .footer-account ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
}

.direct-contact ul {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-bottom: 0;
}

.telefono::before {
  background-image:url('/src/telefono.webp');
}

.correo::before {
  background-image:url('/src/correo.webp');
}

.ubi::before {
  background-image:url('/src/ubicacion.webp');
}

.footer-copyright {
  padding: 15px 60px;
  border-top: 1px solid gray;
  color: lightgray;
  font-size: var(--texto-parrafo);
}

.videos-container {
  display: flex;
  width: var(--ancho-secciones);
  padding-top: 40px;
  gap: 20px;
}

video {
  width: 50%;
}

iframe {
  width: 50%;
}

audio {
  width: 50%;
}

/* Media query para tablets */
@media (width <= 1200px)  {
  :root {
    --ancho-secciones: 80%;
    --texto-enlace: 0.75rem;
    --texto-parrafo: 0.8rem;
    --texto-titular: 0.85rem;
    --titulo-seccion: 2rem;
  }

  .logo-volupa {
    width: 65%;
    align-self: center;
    justify-content: center;
  }

  .logo-volupa img {
    width: 50%;
  }

  .nav-content {
    flex-direction: column;
  }

  .women-collection-content h2 {
    font-size: 3rem;
    padding-bottom: 35px;
  }

  .women-collection-content div {
    font-size: 0.8rem;
  }

  .main-nav {
    margin-bottom: -65px;
  }

  .main-nav ul {
    grid-template-rows: repeat(2, 0.4fr);
    grid-template-columns: repeat(3, 0.4fr);
  }

  .info-bestprod a {
    position: unset;
    align-self: unset;
  }

  .deals-week-content {
    top: 45%;
  }

  .subscription-info > div {
    font-size: 1.5rem;
  }

  .direct-contact div {
    padding-right: 25px;
  }

  .deals-week-content div:nth-child(1) {
    gap: 10px;
  }

  .deals-week img {
    height: 65vw;
  }

  .cronometer section {
    padding: 10px 3px;
  }

  .cronometer section span {
    font-size: 1.4rem;
  }

  .subscription {
    flex-direction: column;
    gap: 10px;
    padding: 30px;
  }

  .email {
    padding: 20px;
  }

  .menu-collections {
    width: 100%;
  }

  .new-collections-content {
    width: 90%;
  }

  .collection-rating {
    position: unset;
    align-self: flex-start;
  }

  .payment-section {
    padding: 20px;
  }

  .footer-sections {
    flex-wrap: wrap;
    gap: unset;
  }

  .footer-info, .footer-contact {
    width: 50%;
    flex: unset;
  }

  .footer-payments ul {
    width: unset;
  }

  .footer-payments li {
    flex: 0.15;
  }

  .footer-social ul {
    width: unset;
  }

  .footer-social li {
    flex: 0.06;
  }

  .footer-links, .footer-account {
    flex: 1;
  }

}

/* Media query para móviles */
@media (width <= 700px) {
  :root {
    --ancho-secciones: 90%;
    --texto-enlace: 0.65rem;
    --texto-parrafo: 0.75rem;
    --texto-titular: 0.8rem;
    --titulo-seccion: 1.75rem;
  }

  .back-top {
    padding: 15px;
    justify-content: center;
  }

  .back-top img {
    width: 20px;
  }

  .user-preferences ul {
    gap: 10px;
  }

  .women-collection-content a {
    padding: 10px 20px;
  }

  .women-collection-content h2 {
    font-size: 2.6rem;
    width: 80%;
    padding-bottom: 10px;
    padding-top: 0;
  }
  
  .women-collection-content {
    top: 30%;
  }

  .main-nav ul {
    grid-template-rows: repeat(2, 0.3fr); 
    grid-template-columns: repeat(2, 1fr); 
    padding: 20px;
    justify-content: center; 
  }
  
  .menu-collections li {
    text-underline-offset: 2px;
  }

  .main-nav li:nth-child(1), .main-nav li:nth-child(2),
  .main-nav li:nth-child(3), .main-nav li:nth-child(4) {
    grid-row: span 1; 
    grid-column: span 1; 
  }

  .main-nav-content {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    font-size: 0.65rem;
  }

  .articles-container article:nth-child(2) {
    display: none; 
  }

  .deals-week-content {
    top: 40%; 
  }

  .subscription-info > div {
    font-size: 1.4rem; 
  }

  .direct-contact div {
    padding-right: 25px;
  }

  .deals-week-content div:nth-child(1) {
    gap: 5px; 
  }

  .deals-week img {
    height: 85vw; 
  }

  .email, .submit { 
    padding: 5px;
  }

  .women-new-collections ul {
    grid-template-rows: repeat(3, 1fr); 
    grid-template-columns: repeat(2, 1fr); 
  }

  .women-new-collections li:nth-child(2) .collection-imgs,
  .women-new-collections li:nth-child(4) .collection-imgs, 
  .women-new-collections li:nth-child(6) .collection-imgs {
    padding-bottom: 100%; 
  }

  .videos-container {
    flex-direction: column;
    align-items: center;
  }

  video {
    width: 80%;
  }

  iframe {
    width: 80%;
    height: 265px;
  }

}
